@import "tailwindcss";

@theme inline {
	--font-gabarito: var(--font-gabarito);
	--font-hubot: var(--font-hubot);
	--color-primary: #031e42;
	--color-bgBlack: #011228;
	--color-secondary: #73eaff;
	--color-textBlack: #1e1e1e;
	--color-textGray: #505050;
	--breakpoint-lgxl: 1281px;
}

html {
	font-size: 62.5%;
}

.techshowcase {
	animation: customMarquee 10s linear infinite;
}

.showcase {
	animation: customMarqueeA 10s linear infinite;
}
.showcase-reverse {
	animation: customMarqueeReverse 10s linear infinite;
}

@keyframes customMarquee {
	from {
		transform: translateX(0);
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
	}

	to {
		transform: translateX(calc(-100% - 120px));
		-webkit-transform: translateX(calc(-100% - 120px));
		-moz-transform: translateX(calc(-100% - 120px));
	}
}

@keyframes customMarqueeA {
	from {
		transform: translateX(0);
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
	}

	to {
		transform: translateX(calc(-100% - 1.5rem));
		-webkit-transform: translateX(calc(-100% - 1.5rem));
		-moz-transform: translateX(calc(-100% - 1.5rem));
	}
}

@keyframes customMarqueeReverse {
	from {
		transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		-moz-transform: translateX(100%);
	}

	to {
		transform: translateX(calc(0 - 1.5rem));
		-webkit-transform: translateX(calc(0 - 1.5rem));
		-moz-transform: translateX(calc(0 - 1.5rem));
	}
}
